body {
  margin: 0;
}

.link {
  text-decoration: none;
}

.hidden {
  overflow: hidden;
}

*, ::after, ::before {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header-logo {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}
.header-logo__title {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 38px;
  color: #5bd077;
  width: 159px;
  height: 77px;
}

.logo {
  width: 58px;
  height: 85px;
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

.button {
  border: none;
  border-radius: 4px;
  background-color: #5bd077;
  padding: 14px 9px;
  color: white;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.12;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .button {
    margin-left: 31px;
    height: 39px;
    display: flex;
    align-items: center;
  }
}
.button:hover, .button:focus {
  background-color: #50ba6a;
}

.hero {
  min-width: 320px;
  background-image: url("../img/Sl-min.jpg");
  padding-top: 228px;
  padding-bottom: 22px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../img/Sl2x-min.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 269px;
  }
}
.hero > .container {
  padding-left: 30px;
}
.hero-title {
  color: white;
  font-family: "PT Sans";
  font-size: 38px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
}
.hero-list {
  list-style: disc;
  color: white;
  padding-left: 20px;
}
.hero-list__item:not(:last-child) {
  margin-bottom: 2px;
}
.hero-list__item--text {
  color: white;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.mob {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  text-align: center;
  overflow: scroll;
}
.mob.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.mob > .container {
  padding: 10px;
  padding-top: 100px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-close-btn {
  position: absolute;
  top: 34px;
  right: 15px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .mob {
    display: none;
  }
}

.nav-mob-list {
  margin-left: 20px;
  text-align: left;
}

.nav-mob-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
.nav-mob-item:not(:last-child) {
  margin-bottom: 10px;
}
.nav-mob-item::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 50%;
  border-bottom: 1px solid black;
}

.header {
  padding-bottom: 17px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header > .container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-nav {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav {
    justify-content: flex-end;
  }
}
.header-nav-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav-container {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    align-items: center;
  }
  .header-nav-text {
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-nav-text {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .header .nav-item {
    display: flex;
    align-items: center;
  }
  .header .nav-item:not(:last-child)::after {
    content: "";
    margin-right: 19px;
    margin-left: 19px;
    border-left: 1px solid #505050;
    height: 10px;
  }
}
.header-open-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header-open-btn {
    display: none;
  }
}

.mob-contacts {
  margin-left: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mob-contacts {
    display: none;
  }
}
.mob-contacts-list {
  margin-bottom: 60px;
}
.mob-contacts-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mob-contacts-item:not(:last-child) {
  margin-bottom: 5px;
}
.mob-contacts-item__link {
  font-size: 18px;
  font-family: "Times New Roman";
  font-weight: 400;
  color: #5b5b5b;
  text-decoration: none;
}
.mob-contacts-item__text {
  font-size: 18px;
  font-family: "Times New Roman";
  font-weight: 400;
  color: #42be5f;
}
.mob-contacts-item__img {
  margin-right: 14px;
}

.header-contacts {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header-contacts-list {
    height: 42px;
    width: 423px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
.header-contacts-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-contacts-item:not(:last-child) {
  margin-bottom: 5px;
}
@media screen and (min-width: 1200px) {
  .header-contacts-item:not(:last-child) {
    margin-bottom: 0;
  }
}
.header-contacts-item__link {
  font-size: 18px;
  font-family: "Times New Roman";
  font-weight: 400;
  color: #5b5b5b;
  text-decoration: none;
}
.header-contacts-item__text {
  font-size: 18px;
  font-family: "Times New Roman";
  font-weight: 400;
  color: #42be5f;
}
.header-contacts-item__img {
  margin-right: 14px;
}

.left {
  margin-left: 54px;
}

@media screen and (min-width: 1200px) {
  .tablet {
    display: none;
  }
}

.desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .desktop {
    display: flex;
  }
}

.services {
  padding-top: 30px;
  padding-bottom: 85px;
}
.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .services-list {
    display: flex;
    align-items: inherit;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

.services-item--children, .services-item--terapia, .services-item--ortodont, .services-item--ortoped, .services-item--implant, .services-item--operation {
  max-width: 365px;
  padding-top: 24px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 39px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .services-item--children, .services-item--terapia, .services-item--ortodont, .services-item--ortoped, .services-item--implant, .services-item--operation {
    max-width: 380px;
  }
}
.services-item--children {
  background-color: #5bd077;
}
.services-item--terapia {
  background-color: #64dcb9;
}
.services-item--ortodont {
  background-color: #63cecd;
}
.services-item--ortoped {
  background-color: #50aac7;
}
.services-item--implant {
  background-color: #4a99c2;
}
.services-item--operation {
  background-color: #4a88c2;
}

.services-item__img {
  margin: 0 auto;
  margin-bottom: 21px;
}

.services-item__title {
  text-transform: uppercase;
  color: white;
  margin-bottom: 25px;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.services-item__text {
  color: white;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.12;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1200px) {
  .services-item__text {
    font-size: 14px;
  }
}

.visiograph {
  text-align: center;
  padding-bottom: 63px;
}
@media screen and (min-width: 768px) {
  .visiograph {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .visiograph > .container {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .visiograph > .container {
    justify-content: flex-end;
  }
}
.visiograph-container {
  text-align: center;
}
.visiograph-title {
  font-family: "PT Sans";
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}
.visiograph-after-title {
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .visiograph-container-text {
    width: 460px;
  }
}
@media screen and (min-width: 1200px) {
  .visiograph-container-text {
    margin-right: 91px;
    width: 750px;
  }
}
.visiograph-item:not(:last-child) {
  margin-bottom: 35px;
}
.visiograph-text {
  font-family: "Times New Roman";
  font-size: 18px;
  font-weight: 400;
}

.picture {
  width: 159px;
  height: 151px;
  margin: 0 auto;
  display: block;
}

.asvantages {
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: #e0f0ff;
  text-align: center;
}
.asvantages-title {
  text-transform: uppercase;
  font-family: "PT Sans";
  color: #5a6d7f;
  margin-bottom: 44px;
  font-size: 30px;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 0.02em;
}
.asvantages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .asvantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: -20px;
  }
}
@media screen and (min-width: 1200px) {
  .asvantages-list {
    align-items: flex-end;
    justify-content: normal;
    margin-bottom: 0;
  }
}
.asvantages-item {
  width: 263px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.asvantages-item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .asvantages-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .asvantages-item {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .asvantages-item {
    margin-bottom: 0;
  }
  .asvantages-item:not(:last-child) {
    margin-right: 39px;
  }
}
.asvantages-item__picture {
  display: block;
}
.asvantages-item__text {
  font-family: "PT Sans";
  color: #5a6d7f;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.34;
}

.doctor {
  width: 82px;
  height: 96px;
  margin: 0 auto;
  margin-bottom: 7px;
}

.service {
  width: 77px;
  height: 77px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.technology {
  width: 90px;
  height: 74px;
  margin: 0 auto;
  margin-bottom: 17px;
}

.guarantee {
  width: 67px;
  height: 77px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.feedback {
  padding-top: 86px;
  padding-bottom: 86px;
  text-align: center;
}
.feedback-title {
  text-transform: uppercase;
  margin-bottom: 26px;
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
}
.feedback-content {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .feedback-content {
    justify-content: center;
  }
}
.feedback-button--arrow__left {
  margin-right: 5px;
}
@media screen and (min-width: 1200px) {
  .feedback-button--arrow__left {
    margin-right: 17px;
  }
}
.feedback-button--arrow__right {
  margin-left: 5px;
}
@media screen and (min-width: 1200px) {
  .feedback-button--arrow__right {
    margin-left: 17px;
  }
}
.feedback-button--arrow__left, .feedback-button--arrow__right {
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #5a6d7f;
}
.feedback-button--arrow__left:hover, .feedback-button--arrow__left:focus, .feedback-button--arrow__right:hover, .feedback-button--arrow__right:focus {
  background-color: #4d5f71;
}
@media screen and (min-width: 1200px) {
  .feedback-button--arrow__left, .feedback-button--arrow__right {
    width: 36px;
    height: 36px;
  }
}
.feedback-img__arrow-left, .feedback-img__arrow-right {
  margin: 0 auto;
}
.feedback-list {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .feedback-list {
    margin-right: -20px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-list {
    margin-right: 0;
  }
}
.feedback-item {
  border: 1px solid #cccccc;
  padding: 28px 17px 15px 22px;
  max-width: 325px;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .feedback-item:not(:last-child) {
    margin-right: 21px;
  }
}
.feedback-item__img--left {
  margin-left: auto;
}
.feedback-item__text {
  font-family: "PT Sans";
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
}
.feedback-item__after-text {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
}
.feedback-btn {
  padding: 12px 20px;
  color: #5a6d7f;
  background-color: #ffffff;
  border: 1px solid #5a6d7f;
  border-radius: 4px;
}
.feedback-btn:hover, .feedback-btn:focus {
  color: #ffffff;
  background-color: #5a6d7f;
}

.top {
  margin-bottom: 10px;
}

.bottom {
  margin-top: 10px;
}

.span {
  font-size: 60px;
}

.feedback-tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .feedback-tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.feedback-desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .feedback-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.appointement {
  background-color: #e8f2ef;
  padding-top: 26px;
  padding-bottom: 60px;
}
.appointement > .container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .appointement-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.appointement-title {
  margin-bottom: 30px;
  color: #56b095;
  text-transform: uppercase;
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 1.12;
}
.appointement-form {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .appointement-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .appointement-form {
    width: 750px;
    margin-top: 0;
  }
}
.appointement-label {
  display: block;
  width: 100%;
  height: 52px;
  margin-bottom: 18px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .appointement-label {
    width: 359px;
  }
}
.appointement-pictures {
  position: absolute;
  z-index: 2;
  width: 37px;
  display: flex;
  height: 40px;
  top: 6px;
  left: 3px;
  align-items: center;
  background-color: hsl(0deg, 0%, 100%);
  justify-content: center;
  pointer-events: none;
}
.appointement-img__human {
  width: 18px;
  height: 20px;
}
.appointement-img__phone {
  width: 12px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}
.appointement-input {
  width: 100%;
  height: 100%;
  padding-left: 46px;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
  color: #a6a6a6;
  font-family: "PT Sans";
  position: relative;
  font-size: 18px;
  font-weight: 400;
}
.appointement-input::placeholder {
  color: #a6a6a6;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .appointement-input {
    width: 359px;
  }
}
.appointement-textarea {
  width: 100%;
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
  margin-bottom: 17px;
  padding: 15px;
  color: #a6a6a6;
  resize: none;
  width: 100%;
  height: 250px;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
}
.appointement-textarea::placeholder {
  color: #a6a6a6;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .appointement-textarea {
    height: 238px;
  }
}
@media screen and (min-width: 1200px) {
  .appointement-textarea {
    height: 85px;
  }
}
.appointement-btn {
  padding: 21px 37px 15px 36px;
  background-color: #52ceaa;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
}
.appointement-btn:hover, .appointement-btn:focus {
  background-color: #55ac99;
}
@media screen and (min-width: 768px) {
  .appointement-btn {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .appointement-text__container {
    width: 360px;
    text-align: left;
  }
}
.appointement-text {
  color: #428397;
  margin-bottom: 25px;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
}
.appointement-after-text {
  color: #428397;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.appointement-span {
  color: #f55656;
}
.appointement-img__arrow-left {
  margin-left: auto;
  margin-right: auto;
  transform: rotateZ(270deg);
}
@media screen and (min-width: 1200px) {
  .appointement-img__arrow-left {
    transform: rotateZ(360deg);
  }
}

.place_holder,
.place_holder__data,
.place_holder__time {
  z-index: 100;
  cursor: text;
  width: 185px;
  position: absolute;
  top: 9px;
  left: 13px;
  text-align: left;
  display: none;
  padding-bottom: 7px;
  padding-top: 7px;
  color: hsl(0deg, 0%, 83%);
  margin-left: 35px;
  background-color: hsl(0deg, 0%, 100%);
}

.place_holder__data,
.place_holder__time {
  margin-left: 28px;
}

.appointement-label input:invalid + .place_holder,
.appointement-label input:invalid + .place_holder__data,
.appointement-label input:invalid + .place_holder__time {
  display: inline;
}

.place_holder span,
.place_holder__data span,
.place_holder__time span {
  color: red;
  position: absolute;
  top: 0;
}

.appointement-input[type=time],
.appointement-input[type=date] {
  width: 100%;
  height: 100%;
  padding-left: 6px;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
  color: #a6a6a6;
  font-family: "PT Sans";
  position: relative;
  font-size: 18px;
  font-weight: 400;
}

.appointement-input[type=date] {
  padding-left: 18px;
}

.footer {
  background: rgb(91, 208, 119);
  background: linear-gradient(90deg, rgb(91, 208, 119) 24%, rgb(78, 131, 192) 76%);
  padding-bottom: 12px;
  padding-top: 13px;
}
.footer-nav {
  position: relative;
}
.footer-nav::after {
  content: "";
  height: 1px;
  width: 110%;
  left: -15px;
  position: absolute;
  z-index: 3;
  border-bottom: 1px solid #ffffff;
  border-width: 100%;
}
.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-nav-text {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.12;
  cursor: pointer;
}
.footer-nav-item {
  margin-bottom: 10px;
}
.footer-nav-item:nth-child(2n-1) {
  margin-right: 60px;
}
.footer-container {
  margin-top: 10px;
  text-align: center;
}
.footer-list {
  margin-bottom: 10px;
}
.footer-item__text {
  color: #ffffff;
  font-family: "Times New Roman";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.12;
}
.footer-tm {
  display: flex;
  justify-content: space-between;
}
.footer-tm-list {
  text-align: left;
}
.footer-tm-item__text {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.12;
}/*# sourceMappingURL=main.css.map */