.asvantages {
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: #e0f0ff;
  text-align: center;

  &-title {
    text-transform: uppercase;
    font-family: "PT Sans";
    color: #5a6d7f;
    margin-bottom: 44px;
    @include font(30px, 700, 0.8, 0.02em);
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-end;
      flex-direction: row;
      margin-bottom: -20px;
    }
    @include desktop {
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  &-item {
    width: 263px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &:not(:last-child) {
      margin-bottom: 20px;
      @include desktop {
        margin-bottom: 0;
      }
    }
    @include tablet {
      margin-bottom: 20px;
    }
    @include desktop {
      margin-bottom: 0;
    }
  }

  &-item__picture {
    display: block;
  }

  &-item__text {
    font-family: "PT Sans";
    color: #5a6d7f;
    @include font(18px, 400, 1.34, null);
  }
}

.doctor {
  width: 82px;
  height: 96px;
  margin: 0 auto;
  margin-bottom: 7px;
}

.service {
  width: 77px;
  height: 77px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.technology {
  width: 90px;
  height: 74px;
  margin: 0 auto;
  margin-bottom: 17px;
}

.guarantee {
  width: 67px;
  height: 77px;
  margin: 0 auto;
  margin-bottom: 15px;
}
