.footer {
  position: relative;
  background: rgb(91, 208, 119);
  background: linear-gradient(
    90deg,
    rgba(91, 208, 119, 1) 24%,
    rgba(78, 131, 192, 1) 76%
  );
  padding-bottom: 12px;
  padding-top: 13px;

  &::after {
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 69px;
    z-index: 3;
    border-bottom: 1px solid #ffffff;
    border-width: 100%;
    @include tablet {
      top: 40px;
    }
  }

  &-nav {
    @include tablet {
      margin-bottom: 20px;
    }
  }

  &-nav-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    justify-content: space-around;
    @include tablet {
      margin-left: 0;
      max-width: 768px;
      justify-content: flex-start;
    }
  }

  &-nav-text {
    color: #ffffff;
    font-family: "PT Sans";
    @include font(16px, 400, 1.12, null);
    cursor: pointer;
  }

  &-nav-item {
    &:nth-child(2n-1) {
      margin-right: 60px;
    }
    margin-bottom: 10px;

    @include tablet {
      margin: 0;
      &:nth-child(2n-1) {
        margin-right: 0;
      }
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }

  &-container {
    margin-top: 10px;
    text-align: center;
    @include tablet {
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-list {
    margin-bottom: 10px;
  }

  &-item__text {
    color: #ffffff;
    font-family: "Times New Roman";
    @include font(14px, 400, 1.12, null);
  }

  &-tm {
    @include flex(flex, null, space-between);
  }

  &-tm-picture {
    @include tablet {
      margin-right: 15px;
    }
  }

  &-tm-list {
    text-align: left;
  }

  &-tm-item__text {
    color: #ffffff;
    font-family: "PT Sans";
    @include font(12px, 400, 1.12, null);
  }
}
