.mob-contacts {
  margin-left: auto;
  width: 100%;
  @include tablet {
    display: none;
  }
  &-list {
    margin-bottom: 60px;
  }

  &-item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &__link {
      font-size: 18px;
      font-family: "Times New Roman";
      font-weight: 400;
      color: #5b5b5b;
      text-decoration: none;
    }

    &__text {
      font-size: 18px;
      font-family: "Times New Roman";
      font-weight: 400;
      color: #42be5f;
    }

    &__img {
      margin-right: 14px;
    }

    @include flex(flex, center, flex-end);
  }
}
